<h3><%= @post.title %></h3>
<p><%= @post.body %></p>
<%= link_to "Edit", edit_post_path(@post),:class => 'btn btn-primary'%>
<%= link_to "Delete", post_path(@post),
                method: :delete,
                data: {confirm: 'Tem certeza?'},
                :class => 'btn btn-danger'%>
<%= link_to  "Voltar", home_path,:class => 'btn btn-primary'%>